@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Be Vietnam Pro";
  box-sizing: border-box;
}
.custom-email{
  border: 1px solid violet;
}

